@import "./../../../styles/export.scss";

.cryptos-placeholder {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}

.peccunia-top-home {
    img {
        height: 32px !important;
        width: auto;
        padding-right: 15px;

        @include breakpoint(mobileonly) {
            padding-right: 7px;
            height: 24px !important;
        }
    }

    .coin-column {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        border-radius: 23px;
        padding: 0 5px !important;
        margin: 10px 0px !important;
        @include transition(all, 0.2s, ease);

        &:hover {
            background-color: $COLOR_DARK_2;
        }

        .coin-info {
            width: 50%;
            @include breakpoint(phablet) {
                width: 100%;
            }

            .coin-price {
                color: $COLOR_WHITE;
                font-weight: 700;
                font-size: 16px;
                @include breakpoint(mobileonly) {
                    font-size: 12px !important;
                }
            }

            .coin-price-info {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .coin-price-item {
                    font-size: 16px;

                    @include breakpoint(mobileonly) {
                        font-size: 12px !important;
                    }
                    color: $COLOR_GRAY;
                }

                .coin-price-percentage {
                    font-size: 14px;
                    padding-left: 1em;
                    @include breakpoint(mobileonly) {
                        padding-left: 0.5em;
                        margin-left: auto;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
