@tailwind base;

/* Write your own custom base styles here */
@import "./base/base";
@import "./base/typography";
@import "./abstracts/mixins";
@import "./abstracts/variables";

html,
body,
body > div:first-child,
div#__next,
div#__next > div.fresnel-container,
div#__next > div.fresnel-container > div:not([class]) {
    @include breakpoint(phablet) {
        height: 100%;
    }

    @include breakpoint(mobileonly) {
        height: auto;
    }
}

.ui.button {
    border-radius: 8px !important;
}

.ui.primary.button {
    background-color: $COLOR_PRIMARY !important;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
