.maintenance-container {
    padding: 2em 1em;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #32a6ff;
    height: 100vh !important;

    :global(.ui.inverted.segment) {
        max-width: 95vw !important;
    }

    :global(.ui.container) {
        margin: 0 i !important;
    }
}
