$COLOR_WHITE: #edf2f4;
$COLOR_DARK: #27282c;
$COLOR_DARK_2: #3f4147ab;
$COLOR_GRAY: #dbdbdb;
$COLOR_GRAY_2: #999999;
$COLOR_GRAY_3: #646464;

$COLOR_PRIMARY: #32a6ff;
$COLOR_SECONDARY: #3d5a80;
$COLOR_TERTIARY:  #98c1d9;

$COLOR_SUCCESS: #1b4332;
$COLOR_ERROR: #431b1b;
